:root {
  --primary-color: rgb(255, 174, 1); /* Cor principal usada no design */
  --hover-color: #eec409; /* Cor de fundo ao passar o mouse */
  --footer-bg-color: #333; /* Cor de fundo do rodapé */
  --footer-text-color: white; /* Cor do texto do rodapé */
  --body-bg-color: #f0e6e6; /* Cor de fundo do corpo da página */
  --footer-height: 60px; /* Altura do rodapé */
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0e6e6;
  padding-bottom: var(
    --footer-height
  ); /* Adiciona espaço no final da página para o rodapé */
}

/* Estilos para o menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 174, 1);
  border-radius: 10px 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
}

.menu li {
  float: right;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #eec409;
}

table {
  width: 100%;
  border-collapse: collapse;
  display: none;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
.active {
  display: table;
}

h1 {
  background-color: rgb(255, 174, 1); /* Cor de fundo salmão */
  color: white; /* Cor do texto branco */
  padding: 10px; /* Preenchimento interno */
  border-radius: 10px 10px 10px 10px; /* Borda arredondada no canto inferior */
  width: 43%; /* Largura dos cabeçalhos */
}

h2 {
  background-color: rgb(255, 174, 1); /* Cor de fundo salmão */
  color: white; /* Cor do texto branco */
  padding: 10px; /* Preenchimento interno */
  border-radius: 10px 10px 10px 10px; /* Borda arredondada no canto inferior */
  width: 30%; /* Largura dos cabeçalhos */
  margin-bottom: 10px;
}
/* Estilos para o rodapé */

p {
  font-size: 1rem; /* Tamanho da fonte */
  line-height: 1.6; /* Altura da linha */
  margin: 16px 0; /* Margens superior e inferior */
  padding: 0 10px; /* Preenchimento lateral */
}
footer {
  background-color: #333;
  /* Cor de fundo do rodapé */
  color: white;
  /* Cor do texto do rodapé */
  text-align: center;
  padding: 10px 0;
  /* Preenchimento interno do rodapé */
  position: fixed;
  /* Fixa o rodapé na parte inferior da tela */
  bottom: 0;
  /* Posiciona o rodapé no rodapé da tela */
  width: 100%;
  /* Largura total do rodapé */
}
